<body>

    <div class="header">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="https://www.linkedin.com/in/darwin-libioulle-94383385/" class="linkedin">
            <i class="fa fa-linkedin-square" style="font-size:48px;color:black"></i>
        </a>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>About Me</h2>
                <h5>Title description, Dec 7, 2017</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco.</p>
            </div>
            <div class="footer">
                <h2>Footer</h2>
            </div>

</body>